/bootstrap/compiled.php
/vendor
/app/database/production.sqlite
/app/config/app.php
/app/config/database.php
/public/files
/app/storage/uploads
composer.phar
composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db